<header>
    <div class="row">
        <div class="col-sm-10">
            <div class="column-header">
                <ul>
                    <li><a href="ParralexTrailers.html"> Startseite </a></li>
                    <li><a href="Trends.html"> Trends </a></li>
                    <li>
                        <a href="#"> Kategorien </a>
                        <ul>
                            <li><a href="Filme.html"> Filme </a></li>
                            <li><a href="Serien.html"> Serien </a></li>
                        </ul>
                    </li>
                    <li>
                        <form>
                            <input type="text" placeholder="Suche..." #searchInput> 
                            <button (click)="search(searchInput.value)">Suchen</button>
                        </form>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</header>