<header>
    <div class="row">
        <div class="col-sm-10">
            <div class="column-header">
                <ul> 
                    <li><a routerLink="/startseite"> Startseite </a></li>
                    <li><a routerLink="/trends"> Trends </a></li>
                    <li>
                        <a href="#"> Kategorien </a>
                        <ul>
                            <li><a routerLink="/movies"> Filme </a></li>
                            <li><a routerLink="/tv"> Serien </a></li>
                        </ul>
                    </li>
                    <li>
                        <form>
                            <input type="text" placeholder="Suche..." 
                            (keydown.enter)="search(searchInput.value)" #searchInput>
                        </form>
                    </li>
                </ul> 
            </div>
        </div>
    </div>
</header>