.background {
    position: absolute;
    left: 0;
    top: 0;
    width: 110%;
    min-height: 100vh;
    background-image: url("../../assets/body/stars.gif");
    background-size: cover;
    background-repeat: repeat-y;
    z-index: -999;
}

.askText {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 20px;
}

button {
    height: 30px;
    margin-top: 10px;
    margin-left: 120px;
    transform: translateX(-60px);
    border-radius: 20px;
    border-style: none;
    color: white;
    background: transparent;
    border-color: #999;
}