<div class="empty-room-upper">
    <p> &nbsp; </p>
    <p> &nbsp; </p>
</div>

<div class="background"></div>


<app-body-container></app-body-container>


<div class="askText">   
    <button onclick="addContent()">Hier klicken für mehr Trailer</button>
</div>
<script src="./addContent.js"></script>
<!-- TODO: Skripte noch alle in TS übersetzen und auf Angular korrekt anpassen! -->


<div class="empty-room-bottom">
    <p> &nbsp; </p>
    <p> &nbsp; </p>
    <p> &nbsp; </p>
    <p> &nbsp; </p>
    <p> &nbsp; </p>
</div>