.col-sm-6, .col-lg-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

p {
  color: white;
  text-align: center;
  margin-top: 5px;
  font-size: medium;
  width: 100%;
}

// .blur {
//     position: relative;
//     z-index: -1;
//     transform: translateY(-100%); 
//     filter: blur(16px);
//     filter: brightness(4);
//     -webkit-filter: blur(16px);
//     margin-bottom: -55%;
// }