.askText {
    position: relative;
    color: white;
    text-align: center;
    margin-top: 20px;
}

button {
    height: 40px;
    width: 250px;
    margin-top: 10px;
    margin-left: 120px;
    transform: translateX(-60px);
    border-radius: 20px;
    padding: 10px;
    border-style: none;
    color: white;
    background: transparent;
    border-color: #999;
}